extends layout

block content
  div.container-fluid
    div.row
      div.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        div.row.bio
          div.col-xs-12.text-center
            h1 Aiham Hammami
          div.col-xs-12.text-center
            | Web and mobile developer from Sydney, Australia<br>
          div.col-xs-12.text-center
            a(href='/pgp.html', target='_self') PGP Public Key (27181CF9)

        noscript
          div.row.warning
            div.col-xs-12
              | You need to enable Javascript to view this page

        div.row.loading(ng-hide='socials.length')
          div.col-xs-12.text-center
            img(src='/img/loader.gif', alt='Loading', title='Loading')

        div.row.socials(ng-show='socials.length')
          div.col-xs-10.col-xs-offset-1.col-sm-12.col-sm-offset-0
            div.row
              div.col-xs-4.col-sm-2.col-md-2.social(ng-repeat='social in socials')
                a(href='{{social.url}}')
                  img.img-responsive(ng-src='{{social.image}}', alt='{{social.name}}', data-hover-image)

        div.row.techs(ng-show='techs.length')
          div.col-xs-12
            ul.list-inline.text-center
              li(ng-repeat='tech in (techs = allTech())')
                a(href='/tech/{{tech}}') {{tech}}
                |  

        div.row.currentlyShowing
          div.col-xs-12.text-center(ng-show='techFilterName')
            h2
              | {{techFilterName}} 
              a.btn.btn-primary.btn-xs(href='/') x

        div.row.projects(ng-show='filteredProjects.length')
          div.col-xs-12.col-sm-6.col-md-4.project(ng-repeat='project in (filteredProjects = (projects | filter:techFilter | orderBy:"name"))')
            div.projectInner
              h3
                a(ng-if='project.url || project.github', href='{{project.url || project.github}}')
                  | {{project.name}}
                span(ng-if='!project.url && !project.github')
                  | {{project.name}}

              p {{project.description}}

              p
                em {{project.honour}}

              ul.tech.list-inline
                li(ng-repeat='tech in sortTech(project.tech)')
                  a(href='/tech/{{tech}}') {{tech}}
                  |  

              p(ng-if='project.github')
                a(href='{{project.github}}')
                  img(ng-src='http://img.shields.io/badge/github-{{project.github | github}}-green.svg?style=flat-square')

              p(ng-if='project.npm')
                a(href='{{project.npm}}')
                  img(ng-src='http://img.shields.io/npm/v/{{project.npm | npm}}.svg?style=flat-square')

              p(ng-if='project.travis')
                a(href='{{project.travis}}')
                  img(ng-src='http://img.shields.io/travis/{{project.travis | travis}}.svg?style=flat-square')

              ul.screenshots(ng-if='project.screenshots').list-inline
                li(ng-repeat='screenshot in project.screenshots | limitTo:1')
                  img.img-responsive.col-xs-12(ng-src='{{screenshot}}', alt='{{project.name}}')
                  |  

        div.row.footer
          div.col-xs-12.text-center
            | &copy; 2014

  script(src='/js/vendor/jquery.min.js')
  script(src='/js/vendor/bootstrap.min.js')
  script(src='/js/vendor/angular.min.js')
  script(src='/js/vendor/masonry.pkgd.min.js')
  script(src='/js/app.js')

